.vim {

  font-family:courier;
  width: 80%;
  height: 80%;
  position:absolute;
  left: 10%;
  background-color: #222;
  color: #eee;

  padding:13px;
  border-radius:3px;
  overflow:auto;

}

.vim .cursor {
  background-color: #777;
}

.vim .cursor.blank {
	color: #777;
}