doctype
head
    link(href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Inconsolata', rel='stylesheet', type='text/css')
    style
        body,table,tr,td,th {
            margin:0;
            padding:0;
        }
        tr,td {
            border-bottom: 1px solid #ccc;
        }
        .commands {
            position:relative;
            width:80%;
            margin:auto;
        }
        .command-table{
            position:relative;
            width:100%;
        }
        h1 {
            font-family: 'Libre Baskerville', serif;
        }
        .command {
            width:5em;
        }
        .result {
            width:20em;
        }
        .category {
        }
body
    .commands
        center
            h1 Commands
        each rules, category in categories
            h3.category(style="font-family: 'Libre Baskerville', serif;")= category
            table.command-table
                each effect, key in rules
                    tr(style="border-width:1px solid #ccc;")
                        td.command(style="font-family:'Inconsolata', sans-serif;")= key
                        td.result(style="font-family: 'Libre Baskerville', serif;")= effect